<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysUserRoleMapper">

    <insert id="batchAddRoleId">
        insert into sys_user_role(role_id, user_id)
        values
        <foreach collection="roleIdList" separator="," item="roleId">
            (#{roleId},#{userId})
        </foreach>
    </insert>

    <delete id="deleteUserRoleByUserId">
        delete from sys_user_role
        where user_id = #{id} and is_deleted = 0
    </delete>

    <select id="findRoleByUserId" resultType="com.atguigu.spzx.model.entity.system.SysUserRole">
        select id, role_id, user_id, create_time, update_time, is_deleted
            from sys_user_role
        where user_id = #{userId} and is_deleted = 0
    </select>

</mapper>